<html><head><script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=61b28aa13e0661001433b34c&product=inline-share-buttons" async="async"></script>
</head>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v12.0" nonce="FMloAkiG"></script>
<p class="text-center text-muted">&copy; Copyright 2021 </p>
<a href="mailto:aleksi.nokelainen@gmail.com"> Contact Webmaster </a> <br>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="fb-share-button" data-href="localhost" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Jaa</a></div>
<a href="tietosuoja"> tietosuoja </a>
<div class="sharethis-inline-share-buttons"></div>
</html>